# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
IMAGE_UPLOAD_PATH="/path/to/gMarket/product"
IMAGE_UPLOAD_URL="https://assets.example.com/gMarket/product"
DRIZZLE_LOG=true