@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource/ibm-plex-sans';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@custom-variant dark (&:where(.dark, .dark *));

[data-theme='cerberus'] {
	--heading-font-family: 'IBM Plex Sans', sans-serif;
	--base-font-family: 'IBM Plex Sans', sans-serif;
	--anchor-font-family: inherit;
}